<%= button_to "Back to Discover", discover_path(@user.id), class: "btn-discover", method: :get %>
<h1>Search Results</h1>
<% if @movies %>
  <% @movies.each do |movie| %>
    <div class="movies">
      <p>Movie: <%= movie.title %></p>
      <p>Vote Avg: <%= movie.vote %></p>
    </div>
  <% end  %>
<% end %>