<%= button_to "Return to Discover", discover_path(@user.id), class: "btn discover", method: :get %>
<%= button_to "Create a Viewing Party", "", class: "btn new-party", method: :get %>
<h1><%= @movie.title %></h1>